.win1 {
    background-image: linear-gradient(#fefefe, #e2dcdc);
}

.win2 {
    background-image: linear-gradient(#fefefe, #e2dcdc);
}

.win3 {
    background-image: linear-gradient(#fefefe, #e2dcdc);
}